/*CSS for heroes*/

#superman
{
	background: #2647d8;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-size: 0;
}

#batman
{
	background: #656060;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-size: 0;
}

#flash
{
	background: #DA4D26;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-size: 0;
}

#lantern
{
	background: #4EB556;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-size: 0;
}

nav
{
	background: #ccc;
	height: 50px;
}

#banner
{
	background: rgba(0,0,0,0.4);
	height: 700px;
}

nav ul
{
	list-style: none;
	margin: 0;
	float: right;
	font-size: 16px;
}

nav ul li, nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

#banner .inner
{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 160px;
	color: #fff;
}

#banner .inner h1
{
	margin: 0;
	letter-spacing: 5px;
}


#banner .inner .more
{
	margin-top: 320px;
}

.sub-heading
{
	line-height: 30px;
}

.inner .sub-heading
{
	font-size: 25px;
	letter-spacing: 20px;
}

.logo
{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: 10px;
}

.logo a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

.hr
{
	height: 2px;
	margin: 20px auto;
}

.sub-heading
{
	font-size: 30px;
}

.article-preview .text-section
{
	width: 55%;
}

.article-preview .img-section
{
	width: 45%;
}

.article-preview > div
{
	float: left;
	font-size: 0;
}

.article-preview:after
{
	content: '';
	display: block;
	clear: both;
}

.text-section
{
	position: relative;
	top: 70px;
}

.text-section h2
{
	font-size: 20px;
	margin-bottom: 10px;
	left: 100px;
}

.text-section p
{
	font-size: 15px;
	letter-spacing :1px;
	margin: 1px;
	left: 100px;
}

.text-section > *
{
	max-width: 80%;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  min-height: 100px;
  text-align: center;
  font-size: 18px;
}

ul .share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 120px;
}

.share-group li {
  display: inline-block;
  padding: 25px 20px;
}

.share-group li a {
  text-decoration: none;
  color: #fff;
}

.share-group li a:hover {
  text-decoration: underline;
}

.copy {
  padding-bottom: 30px;
}

.copy p {
  font-size: 14px;
}























