nav
{
	background: #ccc;
	height: 50px;
}

#banner
{
	background: rgba(0,0,0,0.4);
	height: 700px;
}

nav ul
{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

#banner .inner
{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 160px;
	color: #fff;
}

#banner .inner h1
{
	margin: 0;
}

button
{
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}

#banner button
{
	padding: 14px 40px;
}

#banner button:hover {
  background: #675353;
}

#banner .inner .more
{
	margin-top: 320px;
}

.sub-heading
{
	line-height: 30px;
}

.logo
{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: 10px;
}

.logo a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

.hr
{
	height: 2px;
	margin: 20px auto;
}

.sub-heading
{
	font-size: 30px;
}

.green-section
{
	background: #0a7e07;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.green-section .hr
{
	background: #06661b;
}

.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0a6208;
	transform: rotate(45deg);
	margin: 20px;
}

.wrapper
{
	max-width: 1080px;
	margin: 0 auto;
}

.gray-section
{
	background: #252f34;
	color: #fff;
}

.gray-section .img-section
{
	width: 45%;
}

.img-section img
{
	width: 100%;
}

.gray-section .text-section
{
	width: 55%;
}

.article-preview > div
{
	float: left;
	font-size: 0;
}

.article-preview:after
{
	content: '';
	display: block;
	clear: both;
}

.article-preview:nth-child(odd)
{
	background-color: rgba(255,255,255,0.05);
}

.text-section
{
	position: relative;
	top: 68px;
	left: 50px;
}

.text-section h2
{
	font-size: 20px;
	margin-bottom: 10px;
}

.text-section p
{
	font-size: 11px;
	letter-spacing :1px;
	margin: 1px;
}

.text-section > *
{
	max-width: 80%;
}

.main-wrapper
{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  min-height: 100px;
  text-align: center;
}

ul .share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 120px;
}

.share-group li {
  display: inline-block;
  padding: 25px 20px;
}

.share-group li a {
  text-decoration: none;
  color: #fff;
}

.share-group li a:hover {
  text-decoration: underline;
}

.copy {
  padding-bottom: 30px;
}

.copy p {
  font-size: 14px;
}



























